@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  --color-surface: #ffffff;
  --color-surface-container-low: #f3f3f4;
  --color-surface-container-lowest: #ffffff;
  --color-primary: #000000;
  --color-primary-container: #1a1a1a;
  --color-outline-variant: #c6c6c6;
  --color-on-surface-variant: #474747;
  --color-secondary-container: #d4d4d4;

  --radius-md: 0.75rem;
}

@layer base {
  body {
    @apply bg-surface text-primary font-sans antialiased;
  }
}

@layer components {
  .glass-panel {
    @apply bg-surface-container-lowest/80 backdrop-blur-[20px];
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-outline-variant/30 rounded-full;
}
